//Mixins
@mixin transitionEffect($par){
  transition: $par all;
  -webkit-transition: $par all;
  -moz-transition: $par all;
  -ms-transition: $par all;
  -o-transition: $par all;
}
@mixin centerFlex{
  display: flex;
  align-items: center;
  justify-content: center;
}
 @mixin transformTranslate($x){
   transform: translate($x);
   -webkit-transform: translate($x);
   -moz-transform: translate($x);
   -ms-transform: translate($x);
   -o-transform: translate($x);
 }
@mixin transformTranslate($y){
  transform: translate($y);
  -webkit-transform: translate($y);
  -moz-transform: translate($y);
  -ms-transform: translate($y);
  -o-transform: translate($y);
}